# Project place file
*.rbxl 
*.rbxm

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Wally  
Packages
wally.lock

# moonwave
build

# Testing Files
Client 
test.project.json

# sourcemap
sourcemap.json

# Util related
node_modules
Util
package-lock.json
package.json

# Python 
.venv

# Old Source Code
OldSource

# Roblox Player Module Code
RobloxSource

# Debug
Debug

# MkDocs
site