# Project place files
*.rbxl 
/ShiftUnlocked.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Old Source Code
OldSource

# Roblox Player Module Code
RobloxSource

# Wally
Packages

# Testing 
Client

# Moonwave 
build
docs

# Debug
Debug

# Source Map
sourcemap.json